.gitignore
/src/main/scala/inventory/
/src/main/scala/mlmodel/
/src/main/scala/credentials.scala
/src/main/scala/functionsPlayground.scala
/src/main/scala/gameGetData.scala
/src/main/scala/gameGetDataGrey.scala
/src/main/scala/gameGetInfoAll.scala
/src/main/scala/gameGetInfoFromSS3.scala
/src/main/scala/gameGetInfoMore.scala
/src/main/scala/gameGetInfoMore2.scala
/src/main/scala/gameGetInfoMore3.scala
/src/main/scala/gameGetInfoMore4.scala
/src/main/scala/gameGetInfoMore5.scala
/src/main/scala/gameMoveTest.scala
/src/main/scala/MultiDigitNumberDetection.scala
/src/main/scala/MultiDigitNumberDetection2.scala
/src/tests/scala/testFunctionOPENCV.scala
/src/main/scala/Main2.scala
/numbertest.png
/output.png
/target/
/images/temp/
/project/
/images/skills/
/images/tempEQ/
/images/emptyEQcolor/
/.bloop/
/.bsp/
/.idea/
/.metals/
/.vscode/
/window.png
/window_Vanderschrick.png
/window_Winston_Smith.png
/window_Datwardaguy.png
/rectangle.png
/savedWaypoint.png
/square.png
/testMat.png
/loadedWaypoint.png
/classes/playerClasses/Cosaq.ser
/window_Cosaq.png
/classes/cavebot/testPath2.ser
/classes/cavebot/testPath3.ser
/classes/playerClasses/Datwardaguy.ser
/classes/playerClasses/Vanderschrick.ser
/classes/cavebot/DarashiaTownTour.ser
/rope_holl.png
/rotworm.png
/battle1.png
/battle2.png
/battle3.png
/battle4.png
/minotaurs.png
/rotworms.png
/classes/cavebot/depoTrip.ser
